
ion-title {
  font-size: 0.9rem !important;
}

.credit {
  margin-left: 10px;
  font-size: 0.75rem;
  font-style: italic;
  color: lightgray;
}

.explanation {
  color: white !important;
  margin: 10px;
  font-size: 0.98rem;
  line-height: 1.5em;
}

