page-full {

  ion-title div {
    font-size: 1.5rem !important;
  }

  .image-view {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
  }
  img {
    max-width: none !important;
    max-height: 100vh !important;
  }
}
